<div class="flex flex-col items-center justify-center h-screen">
    <div class="flex sm:flex-row flex-col bg-white rounded-lg shadow-lg p-8 gap-4">
        <img src="https://placehold.co/200x250" alt="logo" class="self-center rounded-lg w-[200px] h-[250px]">

        <div class="flex flex-col justify-stretch gap-4">
            <h1 class="text-2xl font-bold">Forgot Password</h1>
            <p class="text-sm text-gray-500">Please enter your email to reset your password</p>

            <input type="text" disabled placeholder="Email (Disabled)" formControlName="email" class="form-input">

            <div class="flex-grow"></div>

            <a href="/login" class="text-center p-2 rounded-lg bg-blue-500 text-white">
                Go Back</a>
        </div>
    </div>
</div>